.impact{
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.fs-80{
    font-size: 5rem;
}

.fw-700{
    font-weight: 700;
}

.times{
    font-family: 'Times New Roman', Times, serif;
}
.fs-35{
    font-size: 2.1875rem;
}

.fs-13{
    font-size: 0.8125rem;
}

.BG-blue{
    background-color: blue;
}

button:hover{
    background-color: #008000 !important;

}

.p-30-90{
    padding: 1.875rem 5.625rem;
}